/* DISEÑO NAV*/

nav{
	background-color: $cafe-muyoscuro;
	color: $blanco;
}

/* DISEÑO SLIDER*/

#carusel{
	z-index: -1;
}

#car1{
	@include img();
    background-image: url("../assets/img/slide1.jpg");
}

#car2{
	@include img();
    background-image: url("../assets/img/slide2.jpg");
}

#car3{
	@include img();
    background-image: url("../assets/img/slide3.jpg");
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.middle-indicator{
   position:absolute;
   top:50%;
   }
  .middle-indicator-text{
   font-size: 4.2rem;
  }
  a.middle-indicator-text{
    color:white !important;
  }
.content-indicator{
    width: 64px;
    height: 64px;
    background: none;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px; 
  }
    .indicators{
  	visibility: hidden;
  }

/* DISEÑO SECCIÓN SERVICIOS*/

#servicios{
    height: 500px;
	background-color: $cafe-muyclaro;

	img{
		border: 10px solid $cafe-claro;
		z-index:1;
	}

	a{
		color:black;
	}
}


/* DISEÑO SECCIÓN WELCOME*/

#welcome{
    height: 400px;
    margin-top: -30px;
	background-color: #E1DBD5;

	h4{
		color: #EC8D2E;
	}

	p, a{
		color:black;
	}

    i{
    color: $cafe-oscuro;
    }
    img{
    border-radius: $radius;
    margin-top: 20px;
    margin-left: 40px;
    }
}
 
 /* DISEÑO SECCIÓN ABOUT*/

#about{
    margin-top: -30px;
	background-color: $cafe-oscuro;

	h4, p{
	color: $cafe-muyclaro;
	}
	img{
	 border-radius: $radius;
	}
}

/* DISEÑO SECCIÓN FOOTER*/

#footer{
    margin-top: -30px;
	background-color: $cafe-muyoscuro;

	h6{
	font-weight:bold;
	}

	h6, p{
	color: $cafe-muyclaro;
	}
	img{
	background-color: $cafe-muyclaro;
	border: 5px solid #F7A2CB;
	}
}